* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.hover-preview-container {
  position: absolute;
  top: 37%; /* змінюй на своє бажання */
  right: 130px; /* змінюй на своє бажання */
  width: 300px;
  height: 200px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 10;
}

.hover-preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  z-index: 999;

}

.home-page-container {
  background-image: url('/src/Components/Assets/lobbylist.png');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  padding: 0px;
}

.lobby-column {
  flex: 1;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 400x
}

.player-count-select {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #d2d2d222;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.player-count-select:hover {
  border-color: #5708ab63;
}



.player-count-lobby-select:focus {
  border-color: #470fc0;
  box-shadow: 0 0 3px rgba(95, 15, 193, 0.5);
}


.home-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  max-width: 500px;
}

.lobby-headers {
  width: 100%;
  display: flex;
  font-weight: bold;
  gap: 0px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.6rem;
 
}

.clickable-lobby {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clickable-lobby:hover {
  background-color: #f0f0f0;
  transform: scale(1.03);
}

.clickable-lobby.disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.lobby-list-container {
  display: flex;
  transform: translateX(25%);
  flex-direction: column;
  align-items: center;
  width: 120%;
}

/* Кастомний скролбар для lobby-list */
.lobby-list::-webkit-scrollbar {
  width: 8px;
}

.lobby-list::-webkit-scrollbar-track {
  background: #1C1A28;
  border-radius: 10px;
}

.lobby-list::-webkit-scrollbar-thumb {
  background-color: #8967c56f;  
  border-radius: 10px;
  border: 2px solid #1C1A28;
}

.lobby-list::-webkit-scrollbar-thumb:hover {
  background-color: #6e5981;
}


.lobby-card.even {
  background-color: #2A2837;
}

.lobby-card.odd {
  background-color: #1C1A28;
}

.lobby-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-height: 400px;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
  justify-content: center;
}

.lobby-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 2000px;
  height: 60px;
  background: #2A2837;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}

.lobby-column.name {
  flex: 2;
}

.lobby-column.players {
  flex: 1;
}

.lobby-column.state {
  flex: 1;
}



h4 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: white;
  margin-bottom: 0;
  text-align: left;
  white-space: nowrap;
  margin-left: 160px;
}

h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.607);
  margin-bottom: 20px;
  text-align: left;
  white-space: nowrap;
  margin-left: 160px;
}

.lock-icon {
  width: 16px; /* Змінюй це значення для регулювання ширини */
  height: 16px; /* Змінюй це значення для регулювання висоти */
}

.create-lobby-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  margin-left: 160px;
}

.lobby-input {
  width: 200px;
  height: 35px;
  padding: 10px;
  font-size: 11px;
  background-color: transparent;
  border: 1px solid rgba(152, 108, 204, 0.65);
  border-radius: 20px;
  outline: none;
  margin-right: 10px;
  text-align: left;
  padding-left: 14px;
}

.create-lobby-button {
  padding: 10px 20px;
  background-color: #4F309F;
  color: #E3C6F0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
  font-weight: bold;
  height: 35px;
  width: 22%;
  margin-left: 5px;
}

.create-lobby-button:hover {
  background-color: #792ea1;
}

.no-lobbies {
  text-align: center;
  padding: 10px;
  color: #888;
}

.join-lobby-button {
  padding: 10px 20px;
  background-color: #4F309F;
  color: #E3C6F0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
  height: 30px;
  width: 20%;
  margin-left: 5px;
  transition: transform 0.4s ease;
}

.join-lobby-button:hover {
  background-color: #6d2184;
}

.error-message {
  color: red;
  font-size: 1rem;
  margin-bottom: 15px;
  text-align: left;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}