*{
  margin: 0;
  padding: 0;
}


body {

  background-image: url('/src/Components/Assets/lobbylist.png');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

  
  .home-page {
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    max-width: 900px;
  }
  
  h4 {
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: white;
    margin-bottom: 0px;
    text-align: left;
    white-space: nowrap;
    transform: translateX(160px);
    
  }
  
  h3 {
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.607);
    margin-bottom: 20px;
    text-align: left; 
    white-space: nowrap; 
    transform: translateX(160px);
  }
  
  .create-lobby-form {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    transform: translateX(160px);
  }
  
  .lobby-input {
    width: 390px;
    height: 35px;
    padding: 10px;
    font-size: 11px;
    background-color: transparent;
    border: 1px solid rgba(152, 108, 204, 0.65);
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
    line-height: 30px;
    text-align: left;
    direction: ltr;
    transform: translateY(0px);
    padding-left: 14px;
  }
  
  .create-lobby-button {
    padding: 10px 20px;
    background-color: #4F309F;
    color: #E3C6F0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    height: 35px;
    width: 50%;
    margin-left: 5px;
    line-height: 0px;
  }
  
  .create-lobby-button:hover {
    background-color: #792ea1;
  }
  
  .lobby-table {
    width: 250%; 
    border-collapse: collapse;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 20px;
    color: white; 
    transform: translateX(160px);
  }
  
  .lobby-table th, .lobby-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .lobby-table th {
    background-color: transparent;
    color: white;
  }
  
  .no-lobbies {
    text-align: center;
    padding: 10px;
    color: #888;
  }
  
  .join-lobby-button {
    padding: 10px 20px;
    background-color: #4F309F;
    color: #E3C6F0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    width: 60%;
    margin-left: 5px;
    line-height: 0px;
    transform: translateY(0px);
    transition: transform 0.4s ease;
  }
  
  .join-lobby-button:hover {
    background-color: #6d2184;
  }
  
  .error-message {
    color: red;
    font-size: 1rem;
    margin-bottom: 15px;
    text-align: left;
  }
  
  